body {
    background-color: #EDF2F4;
    padding-left: 50px;
}

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    width: 100vw;
    position: absolute;
    height: 80px;
    left: 0;
    top: 0;
    background: #EF233C;
}

.title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #EDF2F4;
    padding-left: 50px;
}

.line1 {
    width: 60px;
    height: 0;
    border: 4px solid #EDF2F4;
    transform: rotate(-90deg);
    border-radius: 4px;
}

.heading {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #EDF2F4;
}

.mainmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 25px;
    gap: 15px;
    position: absolute;
    width: 275px;
    height: auto;
    left: 50px;
    top: 125px;
    background: #2B2D42;
    border-radius: 15px;
}

.menutitle, #Frame4, #frame5, #Frame15, #Frame14, #Frame11, #Frame16, #Frame17 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    width: 235px;
    height: 49px;
    border-bottom: 4px solid #8D99AE;
}

.menutitletext, #devicemanagement, #medicinereminders, #datamanagement {
    width: 215px;
    height: 29px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #EDF2F4;
}

#devicemanagement, #medicinereminders, #datamanagement {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

#Frame15 {
    position: absolute;
    width: 750px;
    height: 318px;
    left: 350px;
    top: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

#Frame14, #Frame11, #Frame16, #Frame17 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 750px;
    height: 72px;
}

/* Add more rules for Frame11, Frame16, and Frame17 if needed */

#bloodpressure, #time, #frame10 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    gap: 20px;
    width: 100px;
    height: 72px;
    background: #8D99AE;
    border-radius: 15px;
}

#frame10 {
    width: 520px;
}

#bloodpressure, #donepezil, #dose, #no, #tick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    gap: 20px;
    width: 520px;
    height: 72px;
    background: #D9D9D9;
    border-radius: 15px;
}

#donepezil, #dose, #no {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2B2D42;
}

#dose, #no {
    font-weight: 400;
}

#time, #tick {
    width: 47px;
    height: 22px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #EDF2F4;
}

#tick {
    box-sizing: border-box;
    width: 100px;
    background: #EDF2F4;
    border: 3px solid #4FB477;
    border-radius: 15px;
}

#tick > .vector {
    width: 31.25px;
    height: 31.25px;
    background: #4FB477;
}

/* Common styles */
.e32_573,
.e32_612,
.e32_623,
.e32_634,
.e32_635 {
    width: 750px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e32_492,
.e32_613,
.e32_624,
.e32_637,
.e32_646 {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 15px;
}

.e32_493,
.e32_533,
.e32_621,
.32_633,
.e32_645 {
    background-color: rgba(141, 153, 174, 1);
    width: 100px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 15px;
    border: 3px solid rgba(79, 180, 119, 1);
}

.e32_494,
.e32_614,
.e32_626,
.e32_638 {
    color: rgba(237, 242, 244, 1);
    width: 47px;
    height: 22px;
    position: absolute;
    left: 26.5px;
    top: 25px;
    font-family: Lato;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e23_376,
.e23_615 {
    width: 520px;
    height: 72px;
    position: absolute;
    left: 110px;
    top: 0px;
}

.e23_377,
.e32_616 {
    background-color: rgba(217, 217, 217, 1);
    width: 520px;
    height: 72px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 15px;
}

.e23_379,
.e32_617 {
    color: rgba(237, 242, 244, 1);
    width: 81px;
    height: 22px;
    position: absolute;
    left: 20px;
    top: 25px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e23_401,
.e32_618 {
    color: rgba(43, 45, 66, 1);
    width: 50px;
    height: 22px;
    position: absolute;
    left: 121px;
    top: 25px;
    font-family: Lato;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e23_400,
.e32_619 {
    color: rgba(43, 45, 66, 1);
    width: 79px;
    height: 22px;
    position: absolute;
    left: 191px;
    top: 25px;
    font-family: Lato;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e32_542,
.e32_622,
.e32_634,
.e32_646 {
    background-color: rgba(79, 180, 119, 1);
    width: 31.25px;
    height: 31.25px;
    position: absolute;
    left: 34.37px;
    top: 20.37px;
}

/* Specific styles */
.e32_574 {
    overflow: hidden;
}

.e32_611,
.e32_623,
.e32_635 {
    top: 82px;
}

.e32_620,
.e32_632,
.e32_644 {
    width: 100px;
    height: 72px;
    position: absolute;
    left: 640px;
    top: 0px;
}

/* Additional CSS for other elements can be added here */

