body {
    background-color: #EDF2F4;
    padding-left: 50px;
}

.Header {
    display: flex;
flex-direction: row;
align-items: center;
padding: 10px 0px 10px 0px;
width: 100vw;
position: absolute;
height: 80px;
left: 0px;
top: 0px;
background: #EF233C;
}
.title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
color: #EDF2F4;
flex: none;
order: 0;
flex-grow: 0;
padding-left: 50px;
}
.line1 {
width: 60px;
height: 0px;
border: 4px solid #EDF2F4;
transform: rotate(-90deg);
flex: none;
order: 1;
flex-grow: 0;
border-radius: 4px;
}
.heading {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #EDF2F4;
flex: none;
order: 2;
flex-grow: 0;
}

.mainmenu {
/* Main Menu */
/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 20px 25px;
gap: 15px;
position: absolute;
width: 275px;
height: auto;
left: 50px;
top: 125px;
background: #2B2D42;
border-radius: 15px;
}

.menutitle {
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
width: 235px;
height: 49px;
border-bottom: 4px solid #8D99AE;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

.menutitletext {
/* Settings */
width: 215px;
height: 29px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #EDF2F4;
/* identical to box height */
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#Frame4 {
/* Frame 4 */
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
width: 235px;
height: 41px;
border-bottom: 2px solid #8D99AE;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#devicemanagement {
/* Device Management */
width: 215px;
height: 21px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #EDF2F4;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#frame5 {
/* Frame 5 */
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
width: 235px;
height: 41px;
border-bottom: 2px solid #8D99AE;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
}
#medicinereminders {
/* Medicine Reminders */
width: 215px;
height: 21px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #EDF2F4;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
#frame7 {
/* Frame 7 */
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 10px;
width: 235px;
height: 41px;
border-bottom: 2px solid #8D99AE;
/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
}
#datamanagement {
/* Data and Management */
width: 215px;
height: 21px;
font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #EDF2F4;
/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

#bigdevicebox{
/* Device Box */
/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-start;
padding: 0px;
gap: 10px;
position: absolute;
width: 770px;
height: 554px;
left: 350px;
top: 105px;
}

#devicebox {
    /* Device Box */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
    position: absolute;
    width: 250px;
    height: 272px;
    left: 390px;
    top: 125px;
    background: #8D99AE;
    border-radius: 15px;
    order: 0;
    }
    #image{
    /* Image */
    width: 180px;
    height: 180px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    #glucometer1 {
    /* Glucometer 1 */
    position: absolute;
    width: 113.56px;
    height: 180px;
    left: calc(50% - 113.56px/2 - 0.22px);
    }
    #devicename{
    /* Device Name Device Description */
    width: 200px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #EDF2F4;
    flex: none;
    order: 1;
    flex-grow: 0;
    }
#addbutton {
/* Add Button */
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 20px;
width: 250px;
height: 272px;
/* Main Green */
background: #4FB477;
border-radius: 15px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#vector {
/* Vector */
width: 50px;
height: 50px;
border: 6.25px solid #EDF2F4;
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}
#adddevice {
/* Add a device. */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
text-align: center;
/* Main White */
color: #EDF2F4;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}